.moreStories {
  padding-left: 20px;
  h3 {
    padding-bottom: 20px;
    cursor: default;
  }
  ul {
    padding-left: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.02);
      text-decoration: underline;
    }
    li {
      padding-bottom: 30px;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
