.navOptions {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 4px solid;
  height: 2rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  .navOptions-option {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 2rem;
    cursor: pointer;
    margin-left: 0px;
    padding: 6px;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transition-delay: 100ms;
    font-weight: 600;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .navOptions-search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .search {
      width: 18px;
    }
  }
}
