@import "./breakpoints.scss";
@import "./components/Slider.scss";
@import "./components/Nav.scss";
@import "./components/NavOptions.scss";
@import "./pages/Home.scss";
@import "./variables.scss";
@import "./components/MoreStories.scss";
@import "./components/ModalTab.scss";
@import "./components/Articles.scss";

.app {
  width: 100%;
  height: 100vh;
  .app-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
